@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Georgia", serif;
  
  --color-bhagva: #FF7722;
  --color-crimson: #D40000;
  --color-rudraksh: #5D4037;
  --color-gold: #FFD700;

  @keyframes rotate-slow {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
}

@utility animate-rotate-slow {
  animation: rotate-slow 60s linear infinite;
}
